[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::after {
  background-color: var(--color) !important;
}
[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::before,
[type="radio"].with-gap:checked + label::after {
  border: 2px solid var(--color) !important;
}
/* label focus color */
input[type="radio"]:focus + label {
  color: var(--color) !important;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: var(--color) !important;
}
.input-field input[type="password"]:focus + label {
  color: var(--color) !important;
}
.input-field input[type="number"]:focus + label {
  color: var(--color) !important;
}
/* label focus color */
.input-field #email:focus + label {
  color: var(--color) !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid var(--color) !important;
  box-shadow: 0 1px 0 0 var(--color) !important;
}
/* label underline focus color */
.input-field input[type="password"]:focus {
  border-bottom: 1px solid var(--color) !important;
  box-shadow: 0 1px 0 0 var(--color) !important;
}
/* label underline focus color */
.input-field input[type="number"]:focus {
  border-bottom: 1px solid var(--color) !important;
  box-shadow: 0 1px 0 0 var(--color) !important;
}
/* label underline focus color */
.input-field #email:focus {
  border-bottom: 1px solid var(--color) !important;
  box-shadow: 0 1px 0 0 var(--color) !important;
}
/* label focus color */
.input-field textarea:focus + label {
  color: var(--color) !important;
}
/* label underline focus color */
.input-field textarea:focus {
  border-bottom: 1px solid var(--color) !important;
  box-shadow: 0 1px 0 0 var(--color) !important;
}
