/* ====== Bagian Other */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}
section,
footer {
  padding: 20px 0;
}

/* ====================================Back to top */
.btn-to-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 0 8px;
}
ul.right li a:hover {
  transition: 0.3s;
  color: #ffffff;
}
ul.right {
  opacity: 0.9;
}
h3 {
  padding-bottom: 5px;
}
h4 {
  padding-bottom: 5px;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

/* ====== Bagian Carousel */
.caption h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax img {
  filter: grayscale(1);
  filter: opacity(0.8);
}

.slides li img {
  padding-top: 650px;
}

/* ====== Bagian Navbar */
.navbar-fixed {
  z-index: 999;
}

section.contact .row .col {
  padding: 1.5rem;
}

@media screen and (max-width: 600px) {
  .caption h1 {
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 2.5px;
    margin: 5px 0;
  }

  .slider-promo h1 {
    font-size: 29px;
    line-height: 40px;
    letter-spacing: 1.5px;
    margin: 10px 0;
  }

  .slider-promo h1 span {
    font-size: 3.3rem;
  }

  .slider-promo h2 {
    font-size: 2.1rem;
    background-color: darkred;
    padding: 10px;
    padding-bottom: 15px;
  }

  .slider-promo h1,
  .slider-promo h3,
  .slider-promo h2 {
    margin: 5px 0;
    margin-top: 8px;
  }

  .slider-promo h3 {
    font-size: 1.9rem;
    margin-top: 1rem;
  }

  .slider-promo .modal-trigger {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.5rem;
    border-right: 3px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  }

  .slider-promo .modal-trigger:active {
    position: relative;
    left: 3px;
    top: 3px;
    border: none;
    transition: 0.3s;
  }

  .col.services .card {
    width: 260px;
    margin: 25px 5px;
  }

  .heading-text .left {
    background-color: var(--color);
    width: 300px;
    height: 4px;
  }

  .heading-text {
    margin-bottom: 23px;
  }
  .heading-text h2 {
    margin-bottom: 5px;
    font-size: 2.6rem;
  }

  .contact .row {
    margin-bottom: 50px;
  }

  section.contact .row .col {
    padding: 0 1.5rem;
  }
}

/* nav .brand-logo img {
  width: 67%;
  filter: hue-rotate(90deg);
} */

@media screen and (max-width: 400px) {
  /* nav .brand-logo img {
    width: 135%;
    max-width: none;
  } */
  /* nav .brand-logo {
    left: 45%;
  } */
}

/*=============================================== Navbar */
.border {
  top: -200px;
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 15px;
  background-image: linear-gradient(
    to right,
    #ff708d,
    #79bdff 25% 75%,
    #73f373
  );
  z-index: -1;
}
#menu-dropdown li a {
  line-height: 34px;
  color: #00acc1;
}
#menu-dropdown li {
  border-bottom: 3px solid white;
  box-sizing: border-box;
}
#menu-dropdown li:hover {
  border-bottom: 3px solid #212121;
  transition: 0.5s;
}
#menu-dropdown li a {
  color: #212121;
}
a.dropdown-button {
  width: 150px;
}
.sampul {
  filter: blur(2px);
  filter: brightness(30%);
}
.navbar-fixed {
  z-index: 999;
  font-weight: bold;
  /*opacity: .9;*/
}

.brand-logo span {
  margin-left: 1rem;
  font-size: 24px;
  /* font-weight: bold; */
}

.div-collapse {
  margin: 0 !important;
}

/* .collapsible-header {
  padding-top: 8px !important;
} */
.small-icon {
  font-size: 12px;
  margin: 0 !important;
}
.nav-chev {
  float: right;
  font-size: 12px !important;
  padding-left: 50%;
}
.icon-nav-menu {
  float: left;
}
.userView {
  margin: 0 !important;
}
.nav-index {
  background-color: rgba(255, 255, 255, 0.85);
  transition: 0.3s;
}
/* ================== Bagian Intoduction */

/* foto resmi */
#image-profile {
  width: 250px;
  height: 250px;
  opacity: 0;
}
/* ====== Bagian Skills */
/* =================================== skills */
#staggered-test li,
#staggered-test1 li {
  opacity: 0;
}

.parallax img {
  filter: grayscale(1);
  filter: opacity(0.8);
}

.parallax-container h3 {
  margin-top: 70px;
}
.person {
  height: 500px;
  width: auto;
}

/* .parallax-container {
  height: auto !important;
} */

.php-bar {
  width: 80%;
}
.css-bar {
  width: 65%;
}
.js-bar {
  width: 35%;
}
.bootstrap-bar {
  width: 60%;
}
.jquery-bar {
  width: 25%;
}
.material-bar {
  width: 90%;
}
.ci-bar {
  width: 75%;
}
.sql-bar {
  width: 85%;
}
.html-bar {
  width: 95%;
}
.filmora-bar {
  width: 90%;
}
.inkscape-bar {
  width: 46%;
}
.gimp-bar {
  width: 65%;
}

/* ====== Bagian Experience */
/* ====== Bagian Contact */
/* =============================== Contact */
i.contact-icons {
  font-size: 80px;
  color: #00838f;
}
a.contact-link {
  color: #00838f;
}
a.contact-link:hover {
  transition: 0.4s;
  text-decoration: underline;
}
div.card-contact:hover a.contact-link {
  transition: 0.4s;
  color: snow;
}
div.card-contact:hover i.contact-icons {
  transition: 0.4s;
  color: snow;
}
div.card-contact:hover {
  transition: 0.4s;
  background-color: #00838f;
}
div.card-blog:hover {
  transition: 0.4s;
  background-color: #f57c00;
}
a.contact-link-blog {
  color: #f57c00;
}
i.contact-icons-blog {
  font-size: 80px;
  color: #f57c00;
}
div.card-blog:hover a.contact-link-blog {
  transition: 0.4s;
  color: snow;
  text-decoration: underline;
}
div.card-blog:hover i.contact-icons-blog {
  transition: 0.4s;
  color: snow;
}
.card-panel {
  padding: 20px;
  margin: 15px 0;
  width: 100%;
}
/* ====== Bagian Portfolio */
.card-image {
  height: 100%;
  padding: 13px;
}
.card-image img {
  height: 100%;
}
.div-portfolio {
  padding: 12px !important;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* ====== Bagian Footer */
/* ==================================== Bagian isi footer */

.sosmed {
  padding-left: 210px !important;
}
.sosmed a i {
  font-size: 25px;
  color: #fafafa;
  padding-right: 12px;
  text-align: right;
}
.sos-foot {
  margin-top: 5%;
}
.sosmed-footer li a i {
  font-size: 40px;
  color: #fafafa;
  padding-right: 12px;
  text-align: right;
}
.sosmed-footer li a i:hover {
  transition: 0.3s;
  color: #424242;
}
.sosmed a i:hover {
  transition: 0.3s;
  color: #424242;
}
.page-footer {
  padding-bottom: 0;
}
.footer-h5 {
  margin-top: 20px;
}

/* AKM Property */
nav .button-collapse {
  margin: 0 10px;
}

.slider-promo .slides li .caption {
  color: #fff;
  position: absolute;
  top: 6%;
  left: 10%;
  width: 80%;
  opacity: 0;
}

.contact input[type="text"],
.contact textarea {
  font-size: 1.5rem;
}

.bg-nav {
  background-color: var(--color);
}

.bg-btn {
  background-color: var(--color);
}

.color-base {
  color: var(--color);
}

.brand-logo.bg-base svg {
  fill: var(--color);
  stroke: var(--color);
  width: 15rem;
}

.brand-logo svg {
  fill: white;
  stroke: white;
  width: 15rem;
}

.collapsible-header .icon-nav-menu span {
  color: white;
  font-size: 28px;
  margin-left: 10px;
}

.side-nav .collapsible-header {
  background-color: #161616;
}

.collapsible-header img {
  margin-top: 5px;
}
.collapsible-header .icon-nav-menu {
  margin-top: 5px;
}

@media only screen and (min-width: 0) {
  html {
    font-size: 16px;
  }
}

.collection.with-header .collection-item {
  padding: 10px 20px;
}

.side-nav .subheader {
  font-size: 16px;
  font-weight: 500;
  color: #f7f7f7;
}
.side-nav li > a > i {
  color: #f7f7f7;
}
.side-nav li > a {
  color: #f7f7f7;
  font-weight: 300;
  font-size: 22px;
  padding-bottom: 15px;
  padding-top: 3px;
}
.divider {
  height: 2px;
  background-color: var(--color);
}
.card-contact h6 {
  font-size: 1.3rem;
}

.card-contact .bi-whatsapp {
  font-size: 2.3rem;
  color: var(--color);
}

.card-contact .btn {
  width: 100%;
}

.bordering {
  background-color: var(--color);
  width: 190px;
  height: 4px;
}

.footer-copyright {
  filter: brightness(1.3);
}

.card-property .card-image {
  padding: 0;
}

.card-property img {
  filter: brightness(0.3);
}

.btn:focus {
  background-color: var(--color);
}

.btn:hover {
  background-color: var(--color);
}

.property .card-panel {
  width: 260px;
  margin: 25px 5px;
  height: 400px;
}
.property .card-panel i {
  font-size: 6rem;
}

.property .card-panel .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.property .card-panel span {
  font-size: 1.8rem;
}

.wa-btn {
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  left: 20px;
  bottom: 20px;
  z-index: 3;
}

.wa-btn i {
  font-size: 1.7rem;
}

.row.services {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabs .tab a {
  font-size: 1.1rem;
  color: var(--color);
}

.tabs .tab a.active {
  color: var(--color);
  font-size: 1.2rem;
}

.tabs .indicator {
  background-color: var(--color);
  /* font-size: 1.2rem; */
}

.tabs-property {
  padding-top: 2rem !important;
}

.tabs-property .row img {
  padding: 5px;
  margin: 10px 0;
  border: 3px solid var(--color);
}

.tabs-property .collapsible span {
  font-weight: 500;
}

.property-single-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 200px; */
}
.property-single-image img {
  filter: brightness(0.7);
}

.property-single-image .container {
  position: absolute;
  padding-left: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.property-single-image h3 {
  font-size: 1.8rem;
  margin: 0;
}

.property-single-image p {
  font-size: 1rem;
  margin: 0;
}

iframe.hoverable {
  height: 350px;
}

@media only screen and (min-width: 601px) {
  iframe.hoverable {
    height: 28rem;
  }
}

.collapsible-body .chip {
  font-size: 1.2rem;
  background-color: var(--color);
  color: white;
  height: 35px;
  font-weight: 400;
}
.collapsible-body .chip i {
  margin-right: 8px;
}

.collapsible-header i {
  color: var(--color);
}

.hide-img {
  display: none;
}

.collapsible-body a.btn {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
}
.collapsible-body p {
  font-size: 0.8rem;
}

.property-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
