    [type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
        background-color: #ab47bc  !important;
    }
    [type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
        border: 2px solid #ab47bc  !important;
    }
    /* label focus color */
    input[type="radio"]:focus + label {
      color: #ab47bc  !important;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
      color: #ab47bc  !important;
    }
    .input-field input[type=password]:focus + label {
      color: #ab47bc  !important;
    }
    .input-field input[type=number]:focus + label {
      color: #ab47bc  !important;
    }
    /* label focus color */
    .input-field #email:focus + label {
      color: #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field input[type=password]:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field input[type=number]:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field #email:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }
    /* label focus color */
    .input-field textarea:focus + label {
      color: #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field textarea:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }

   
    

    